html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@keyframes inFromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  background: linear-gradient(to bottom right, #ffffff, #cccccc);
  line-height: 1;
  font-family: "Signika", sans-serif;
  color: #333;
  min-height: 100vh;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.modal-innercontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}

.modal-title {
  font-size: 2em;
  color: #35424a;
  margin-bottom: 20px;
  margin-top: 10px;
}

.modal-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ffa500, #f76b1c);
  margin-top: 10px;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2em;
  color: #35424a;
  margin-bottom: 20px;
  width: 100%;
}

.modal-tech {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.chip {
  background-color: #f76b1c;
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 1em;
  margin: 5px 0;
  display: inline-block;
}

.media-wrapper {
  min-width: 280px;
}

main {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  gap: 30px;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.747);
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  max-width: 1200px;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-out;
}

.page p,
.page ul {
  font-size: 1.5em;
  line-height: 1.6;
  color: #35424a;
  margin-bottom: 30px;
}

.page h4 {
  font-size: 2em;
  color: #35424a;
}

#about-page {
  display: none;
}

#contact-page {
  display: none;
}

.active {
  color: #f76b1c;
}

.strong {
  color: #f76b1c;
}

#projects-page {
  display: none;
  width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 10px;
  animation: fadeInUp 1s ease-out;
}

.project {
  width: 29%;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project:hover {
  transform: translateY(-10px);
}

.project-title {
  font-size: 1em;
  color: #35424a;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.9;
  animation: fadeInUp 1s ease-out;
}

.project-media {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.title-container {
  width: fit-content;
  margin-bottom: 30px;
}

.title {
  font-size: 3em;
  color: #35424a;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ffa500, #f76b1c);
}

.subtitle {
  font-size: 1.5em;
  font-weight: 700;
  color: #f76b1c;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.9;
  animation: fadeInUp 1s ease-out;
  margin-top: 15px;
}

.list {
  margin: 10px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.list li {
  font-size: 1.1em;
  color: #35424a;
  font-weight: 500;
  opacity: 0.9;
  width: 49%;
}

nav {
  margin-top: 50px;
  align-self: flex-end;
  animation: inFromRight 1s ease-out;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav ul li {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #35424a;
  font-size: 2em;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

nav ul li:hover {
  color: #717577;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 3.5em;
  }
  .subtitle {
    font-size: 1.7em;
  }
  nav ul li {
    font-size: 3.4em;
  }
  .container {
    padding: 30px;
  }
  .project-title {
    font-size: 1.3em;
  }
  .modal-innercontent {
    flex-direction: row;
  }
}

@media screen and (min-width: 2600px) {
  nav ul li {
    font-size: 4.4em;
  }
}
