html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
}

body {
  background: radial-gradient(circle, #1b2735 0%, #090a0f 100%);
}

main {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-left: 320px;
}

header {
  height: 100vh;
  padding: 30px 40px;
  position: fixed;
  color: white;
  background-color: #1b2735;
  z-index: 1;
}

#page-title {
  font-size: 3em;
  font-weight: 200;
  margin: 0 0 0 0;
}

#page-subtitle {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 0 0 0;
}

.section-title {
  color: white;
  font-size: 2em;
  font-weight: 200;
  margin: 1em 0 0 0;
}

.description-text {
  color: white;
  font-size: 1.2em;
  font-weight: 200;
}

#home-section {
  height: 100vh;
}

.small-star {
  position: absolute;
  background-color: white;
}

.falling-star {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}

#sections-container {
  display: flex;
  flex-direction: column;
}

.sections {
  padding: 20px;
}

#projects-section {
  background-color: #0c134f;
}

#education-section {
  background-color: #0c4f1e;
}

#skills-section {
  background-color: #4f0c0c;
}

#aboutme-section {
  background-color: #1b2735;
}

#contact-section {
  background-color: #4f4f0c;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes falling-star {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(300px, 600px) rotate(360deg);
    opacity: 0;
  }
}
